[flake8]
max-line-length = 200
max-complexity = 100
filename = *.py
ignore = E302,W503,E203
exclude =
  **/migrations
  **/node_modules
  .env
  .venv
  env
  venv
  ENV
  env.bak
  venv.bak
  **/static_src
  core/asgi.py